<app-alerts></app-alerts>

<header>
  <a [routerLink]="['/']"><img class="logo" [src]="logo" alt="logo"></a>
  <div class="social">
    <img [src]="facebook" alt="facebook">
    <img [src]="instagram" alt="instagram">
  </div>
  <div class="chapter">
    <div class="dropdown">
      <img class="first_chapter_image" [src]="aboutUs" alt="about us">
      <a [routerLink]="['/aboutus']">{{languageService.getTranslate('ABOUT US')}}</a>
      <div class="dropdown_content first_submenu">
        <a [routerLink]="['/reviews']">{{languageService.getTranslate('REVIEW')}}</a>
        <a>{{languageService.getTranslate('TEAM')}}</a>
      </div>
    </div>
    <div class="dropdown">
      <img class="second_chapter_image" [src]="travels" alt="travels">
      <span>{{languageService.getTranslate('TRAVELS')}} 2024</span>
      <div class="dropdown_content second_submenu">
        <a>{{languageService.getTranslate('YACHTS')}}</a>
      </div>
    </div>
    <div class="dropdown">
      <img class="#" [src]="blog" alt="blog">
      <span>{{languageService.getTranslate('BLOG')}}</span>
      <div class="dropdown_content third_submenu">
        <a>Фотозвіт</a>
        <a>Новини</a>
        <a>Фільми</a>
        <a>Нагороди</a>
        <a>Фотографії</a>
        <a>Графіка</a>
        <a>Футболки</a>
        <a>Живопис</a>
        <a>Значки</a>
      </div>
    </div>
    <div class="dropdown">
      <img class="fourth_chapter_image" [src]="contact" alt="contact">
      <span>{{languageService.getTranslate('CONTACTS')}}</span>
    </div>
  </div>
  <div class="social">
    <img [src]="vimeo" alt="vimeo">
    <img [src]="youtube" alt="youtube">
  </div>
  <div>
    <div class="language_menu_wrapper">
      <div class="language_menu">
        <ul>
          <!-- В данном случае выражение languageService.currentLanguage возвращает строку, которая является текущим выбранным языком, например 'en', 'ua', или 'ru'.
          Это значение используется как имя класса, которое будет добавлено к элементу <li>.-->

          <!-- Предположим, что languageService.currentLanguage возвращает 'en' -->
<!--          <li class="hasSubMenuLanguage" [ngClass]="languageService.currentLanguage">-->
            <!-- ... -->
<!--          </li>-->

          <!-- Результат выражения 'en' используется как класс для элемента li -->
<!--          <li class="hasSubMenuLanguage en">-->
            <!-- ... -->
<!--          </li>-->

          <!-- Теперь languageService.currentLanguage возвращает 'ru' -->
<!--          <li class="hasSubMenuLanguage ru">-->
            <!-- ... -->
<!--          </li>-->

          <li class="hasSubMenuLanguage"  [ngClass]="languageService.getLanguage()">
<!--            #languageMenu — это локальная переменная шаблона в Angular, которая предоставляет доступ к элементу DOM этой ссылки в компоненте Angular. Это означает, что вы можете ссылаться на этот элемент в коде TypeScript вашего компонента, используя имя languageMenu-->
            <a #languageMenu (click)="openSubMenuLanguage($event, languageService.getLanguage(), languageMenu)">
              {{ languageService.getLanguage().toUpperCase() }}
            </a>
            <ul>
              <li class="select_lang" *ngFor="let otherLang of languageService.getFilteredLanguages()">
                <a (click)="openSubMenuLanguage($event, otherLang, languageMenu)">
                  {{ otherLang.toUpperCase() }}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="footer_icons">
    <img [src]="facebook" alt="facebook">
    <img [src]="instagram" alt="instagram">
  </div>
  <div class="footer_chapter">
    <span>КАЛЕНДАР 2024</span>
    <span>КОНТАКТИ</span>
  </div>
  <img class="footer_logo" [src]="logo" alt="logo">
  <div class="footer_chapter">
    <span>ПРО НАС</span>
    <span>КОМАНДА</span>
  </div>
  <div class="footer_icons">
    <img [src]="vimeo" alt="vimeo">
    <img [src]="youtube" alt="youtube">
  </div>
</footer>

<app-button-scroll-top></app-button-scroll-top>
