<header>
  <img class="logo" [src]="logo" alt="logo">
  <div class="social">
    <img [src]="facebook" alt="facebook">
    <img [src]="instagram" alt="instagram">
  </div>
  <div class="chapter">
    <img class="#" [src]="aboutUs" alt="about us">
    <img class="#" [src]="travels" alt="travels">
    <img class="#" [src]="blog" alt="blog">
    <img class="#" [src]="contact" alt="contact">
  </div>
  <div class="social">
    <img [src]="vimeo" alt="vimeo">
    <img [src]="youtube" alt="youtube">
  </div>
  <div>
    <div class="lang_changer">UK</div>
  </div>

</header>
<body>

</body>

<div class="container">
  <router-outlet></router-outlet>
</div>
