* {
  padding: 0;
  margin: 0;
  //border: 1px solid red;
}

header {
  display: flex;
  background-color: black;
  padding: 2px;
  justify-content: space-around;
  //padding: 0 100px
}

.logo {
  max-height: 100%;
  object-fit: contain;
  margin: -2px 0px 0px -5px;
}

.chapter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.chapter img {
  object-fit: contain;
}

.menuWrapper {
  //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Марджин который опускает вниз
  margin-top: 23px;
  //height: auto;
  //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!запретить прокрутку по горизонтали на элементе, вы можете использовать touch-action: pan-y;, чтобы разрешить только вертикальные жесты.
  touch-action: pan-y;
  //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!отступ справа
  width: 95px;
  //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! цвет текста
  color: #feaa02;
  //!!!!!!!!!!!!!!!!!для z-index
  position: relative;

  .menu, .supportWrapper {
    box-sizing: content-box;
    // !!!!!!!!!!!!!!!!!!!!!!!!!!!!смещение в право и вниз
    padding: 12px;
    //!!!!!!!!!!!!!!!!!для z-index
    position: absolute;
    z-index: 1;
    //!!!!!!!!!!!!!!!!!!!!расстояние между UK и стрелочкой
    width: 72px;
    border: 1px solid;
    border-radius: 10px;

    & > ul {
      //border-radius: 100px;
      //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! отсутп после конца меню
      //margin-bottom: 15px;
      //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! размер шрифта
      font-size: 15px;
      //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! увеличение по горизонтали + растояние между текстом и стрелочкой
      //padding: 0 4px 0 2px;
      //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  убираем точку
      list-style-type: none;


      & > li {

        & > a {
          font-size: 16px;
        }

        &.hasSubmenu {

          ul {
            //!!!!!!!!!!!!!!!!!!!!!! делать подменю скрытым
            display: none;

            li {
              //!!!!!!!!!!!!!!!!!! отступ самих подменюшек
              margin: 15px 0;
              border-bottom: 1px solid grey;
              //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!  убираем точку
              list-style-type: none;
            }
          }

          //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!стрелочка
          & > a {
            //cursor: pointer;

            &:hover {
              color: white;
              background-color: grey;
            }

            &:after {
              border-style: solid;
              border-width: 0 2px 2px 0;
              content: "";
              display: inline-block;
              padding: 3px;
              transform: rotate(45deg);
              margin: 3px 0;
              border-color: #feaa02;
              transition: 400ms;
              opacity: 0.6;
            }

            &.open {
              //!!!!!!!!!!!!!!!!!!!!!!!что бы UK светилcя ярче когда открыт
              //font-weight: 600;
              padding-bottom: 0;

              & + ul {
                display: block;
              }

              &:after {
                transform: rotate(225deg);
                //!!!!!!!!!!!!!!!!!!!!!!!что бы стрелочка светилась ярче когда открыта
                //opacity: 1;
              }
            }
          }
        }

        &:last-child {

          & > a {
            //!!!!!!!!!!!!!!!!!!внутр отступ для UK
            padding-bottom: 0;
          }
        }
      }

      //!!!!!!!!!!!!!!!!!!настройка раскрывающегося меню в целом
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}

.en {

  &:hover {
    color: white;
    background-color: grey;
  }
}

.ru {

  &:hover {
    color: white;
    background-color: grey;
  }
}

footer {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 180px;
}



.footer_chapter {
  display: flex;
  flex-direction: column;

  span {
    color: white;

    &:first-child {
      margin-top: 20px;
    }

    &:last-child {
      margin-top: 80px;
      margin-bottom: 20px;
    }

  }
}

.footer_logo {
  transform: translateY(-55%);
}

.footer_icons {
  display: flex;
  flex-direction: column;

  img {

    &:first-child {
      margin-top: 30px;
    }

    &:last-child {
      margin-top: 130px;
      margin-bottom: 5px;
    }
  }
}
