<!--пока грузяться посты что бы показывался текст с загрузкой-->
<div class="reviews-container" *ngIf="reviews?.length; else loading">
  <div>
    <input class="search_review" type="text" placeholder="Search" [(ngModel)]="searchReview">
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Автор</th>
      <th>Экспедиция</th>
      <th>Соц Сеть</th>
      <th>Комментарий</th>
      <th>Дата</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let review of reviews | searchReviews: searchReview; let idx = index">
      <td>{{idx + 1}}</td>
      <td>{{review.name}} {{review.surname}}</td>
      <td>{{review.expedition}}</td>
      <td>{{review.social}}</td>
      <td [innerHTML]="(review.feedback)"></td>
      <td>{{review.date | date: 'dd.MM.yyyy, HH:mm:ss':'ua'}}</td>
      <td>
        <a class="button_add" (click)="add(review)">Add</a>
        <a class="button_edit" [routerLink]="['/admin', 'review', review.id, 'edit']">Edit</a>
        <a class="button_delete" *ngIf="review.id" (click)="remove(review.id)">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--сам текст-->
<ng-template #loading>
  <p>Идет загрузка</p>
</ng-template>
