mat-dialog-content {
  position: relative;
  background-color: white;
  padding: 25px 120px 25px 70px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  &:before { //псевдоелементы ::before и ::after используются для вставки содержимого до или после содержимого элемента.
    content: ''; // Свойство content обязательно для этих псевдоэлемента before, чтобы они отображались. В данном случае content: ''; означает, что вы вставляете пустое содержимое — это просто способ создать "фантомный" элемент, который можно будет стилизовать.
    position: absolute;
    top: 0;
    left: 0;
    right: 83px;
    bottom: 32px;
    background-image: url('/assets/images/sun.webp'); // Путь к вашему изображению
    background-size: 30%;
    background-repeat: no-repeat; // Чтобы изображение не повторялось
    background-position: right; // отправляем картинку в правую сторону
    opacity: 0.1; // Уменьшите прозрачность, чтобы сделать изображение едва заметным
  }

  p {
    position: relative;
    z-index: 1;
    font-family: Arial, sans-serif;
    color: #333;

    &:nth-of-type(1) {
      font-size: 49px;
      margin-bottom: 10px;
      line-height: 56px;
    }

    &:nth-of-type(2) {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
}

::ng-deep .cdk-overlay-dark-backdrop { //::ng-deep используется для того что бы перебить родные стили модального окна из indigo-pink которые нодмодульсике
  background: rgb(202 152 66 / 47%);
}

.close-icon {
  float: none; /* Убрать выравнивание по правому краю */
  font-size: 1rem; /* Уменьшить размер иконки */
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  transition: color 0.3s ease;
  position: absolute; /* Добавить абсолютное позиционирование */
  top: 10px; /* Отступ от верхнего края */
  right: 10px; /* Отступ от правого края */
  color: #888; /* Серый цвет иконки */
  z-index: 10;

  &:hover {
    color: #333; /* Цвет иконки при наведении */
  }
}
