<img class="paganel_studio_expedition_picture" [src]="image" alt="paganelStudioExpedition">
<div>
  <div class="calendar">
    <span>КАЛЕНДАР&nbsp;&nbsp;2024</span>
  </div>
  <div class="line"></div>
  <div>
    <span class="info_for_russians">У зв'язку з війною на території України, з 24 лютого 2022 року, Paganel Studio більше не приймає заявки від громадян РФ на <br> участь у наших експедиціях.</span>
  </div>
  <img class="piece_image" [src]="piece" alt="piece">
  <div class="line_under"></div>
  <div class="text_paganel_center">
    <span class="title_paganel">Paganel Studio</span>
  </div>
  <div class="paganel_description">
    <div class="block_left">
      <p>
        <strong>Paganel Studio</strong> &mdash; це співтовариство досвідчених мандрівників, команда самовідданих
        експедиційних лідерів,
        кваліфікованих капітанів, контактного центру, партнерів по всьому світу та цілої армії постійних клієнтів, які
        стали добрими друзями за 10 років існування компанії.
      </p>
      <div #imageContainer class="image_container" [class.spin_picture]="isVisible">
        <img class="spin_picture first" [src]="jumps1" alt="jumps1">
        <img class="spin_picture second" [src]="jumps2" alt="jumps2">
        <img class="spin_picture third" [src]="jumps3" alt="jumps3">
      </div>
    </div>
    <div class="block_right">
      <p>
        Засновники та першопрохідники авторських маршрутів – Андрій та Ольга Андрєєви. Мрійники та самостійні
        мандрівники, які розпочали свій шлях у тандемі, вирушивши на свій медовий місяць у Гімалаї. Разом з художником
        Олександром Воцмушем вони любили їздити в далекі країни, малювати, фотографувати, знімати кіно і просто
        насолоджуватися життям.
      </p>
      <p>
      </p>
      <p>
        Тепер їхні документальні фільми отримують сотні нагород на фестивалях, а на красунях яхтах <u>Mon Coeur і Wind
        Dancer</u> відправляються полярні експедиції до Антарктиди та Гренландії. Ми будемо раді поділитися досвідом,
        показати вам найдальші куточки планети та прийняти вас у велику родину Паганелей.
      </p>
    </div>
  </div>
  <div class="button_to_up">
    <span>Рушаймо з нами</span>
  </div>
  <img class="icons icons_love" [src]="love" alt="i_love_paganel">
  <div class="text_paganel_center">
    <span class="upper_video">Цінуй життя! Люби! Подорожуй!</span>
  </div>
  <div class="video_paganel">
    <iframe src="https://player.vimeo.com/video/467035701?h=c74e608d35" width="1100" height="626" frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <img class="picture_sun" [src]="sun" alt="sun">
  <div class="text_paganel_center">
    <span class="title_calendar">Календар експедицій 2024</span>
  </div>
  <div class="marks">
    <div class="for_hover">
      <img [src]="mark_1" alt="mark_1">
      <div class="button_calendar">
        <a><span>Програма</span></a>
      </div>
    </div>
    <div class="for_hover">
      <img [src]="mark_2" alt="mark_2">
      <div class="button_calendar">
        <a><span>Програма</span></a>
      </div>
    </div>
    <div class="for_hover">
      <img [src]="mark_3" alt="mark_3">
      <div class="button_calendar">
        <a><span>Програма</span></a>
      </div>
    </div>
    <div class="for_hover">
      <img [src]="mark_4" alt="mark_4">
      <div class="button_calendar">
        <a><span>Програма</span></a>
      </div>
    </div>
  </div>
  <div class="button_to_up">
    <span>Календар 2024</span>
  </div>
  <div class="team_block">
    <img class="icons icons_team" [src]="team" alt="team_logo">
<!--    <span i18n>{{'team'}}Команда</span>-->
    <div class="team_photos">
      <div class="team_members">
        <div class="person">
          <img [src]="andrew_and" alt="andrew_and">
          <h3>Андрей Андреев</h3>
          <p>Засновник та керівник компанії, експедиційний лідер, фотограф, оператор, фільммейкер</p>
        </div>
        <div class="person">
          <img [src]="olga_and" alt="olga_and">
          <h3>Ольга Андреева</h3>
          <p>Співзасновник, експедиційний лідер, дизайнер, художник компанії</p>
        </div>
        <div class="person">
          <img [src]="evgeny_raf" alt="evgeny_raf">
          <h3>Євген Рафаловський</h3>
          <p>Експедиційний лідер, фотограф, оператор</p>
        </div>
        <div class="person">
          <img [src]="anna_lyt" alt="anna_lyt">
          <h3>Анна Литвиненко</h3>
          <p>Глава контактного центру, особистий помічник керівника</p>
        </div>
      </div>
      <div class="team_members second_block">
        <div class="person">
          <img [src]="yulia_svy" alt="yulia_svy">
          <h3>Юлія Світлова</h3>
          <p>Дуже контактна особа за набором груп</p>
        </div>
        <div class="person">
          <img [src]="kostya_sto" alt="kostya_sto">
          <h3>Костянтин Стороженко</h3>
          <p>Експедиційний лідер, перекладач</p>
        </div>
        <div class="person">
          <img [src]="daria_sto" alt="daria_sto">
          <h3>Дарія Столярчук</h3>
          <p>Контактна особа, фінансовий відділ</p>
        </div>
        <div class="person">
          <img [src]="yulia_shn" alt="yulia_shn">
          <h3>Юлія Шнягіна</h3>
          <p>Контактна особа</p>
        </div>
      </div>
    </div>
    <div class="button_to_up">
      <span>Вся команда Paganel</span>
    </div>
  </div>
  <div>
    <div class="wish_block">
      <h1>Сторінка бажань</h1>
      <p>Заповни свої контакти і країну, в яку хотіли б відправитися з нами</p>
      <div class="button_to_up">
        <span>Загадати бажання</span>
      </div>
    </div>
  </div>
</div>
