.paganel_studio_expedition_picture {
  width: 100%;
}

.calendar {
  display: block;
  padding: 10px 0;
  text-align: center;

  span {
    display: inline-block;
    position: relative;
    border: 1px solid #faa700;
    color: #faa700;
    padding: 20px 168px;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    font-family: arial, '\FF4D\FF53 \FF50\30B4\30B7\30C3\30AF', 'ms pgothic', '\B3CB\C6C0', dotum, helvetica, sans-serif;
    transition: inherit;
    letter-spacing: 0.1em;
    word-spacing: -4px;


    //!!!!!!!!!!!!!!!!!стрелочка
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 27.5%;
      border: solid #faa700;
      //!!!!!!!!!!!делит на половину что получается стрелочка
      border-width: 0 2px 2px 0;
      //!!!!!!!!!! без этого превращается в точку
      padding: 3px;
      //!!!!!!!поворачивает горизонтально
      transform: rotate(-45deg) translateY(-50%);
    }
  }
}

.line {
  transform-origin: center 0.5px;
  width: 403px;
  height: 5px;
  position: relative;
  margin: 20px 0 33px calc((100% - 980px) * 0.5);
  left: 288px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
  border-top: 1px solid #faa700;
  box-sizing: border-box;
}
.info_for_russians {
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-family: arial, ms pgothic, dotum, helvetica, sans-serif;

  &.en-font-size {
    font-size: 15px;
  }
}

.piece_image {
  display: block;
  margin: 0 auto; /* Добавьте это для центрирования горизонтально */
}

.line_under {
  transform-origin: center 0.5px;
  width: 658px;
  height: 5px;
  border-top: 1px solid #faa700;
  position: relative;
  left: 176px;
  margin: 7px 0 23px calc((100% - 980px) * 0.5);
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}

.text_paganel_center {
  text-align: center;

  .title_paganel {
    font-size: 35px;
    font-family: 'Arial', sans-serif;;
    font-weight: bold; // Example font weight
    line-height: 1.4em;
    margin-bottom: 20px;
  }

  .upper_video {
    display: inline-block;
    margin-top: 15px;
    font-size: 40px;
    letter-spacing: -0.4px;
    font-weight: normal;
  }

  .title_calendar {
    display: inline-block;
    font-size: 34px;
    font-family: arial, ｍｓ ｐゴシック, ms pgothic, 돋움, dotum, helvetica, sans-serif;
    letter-spacing: -1.25px;
    line-height: 1.4em;
    margin-bottom: 28px;
  }
}

.paganel_description {
  display: flex;
  justify-content: center;
}

.block_left {
  width: 476px;
  height: auto;
  position: relative;
  margin: 6px 0 30px calc((100% - 980px) * 0.5);
  right: 34px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;

  & > p {
    font-size: 15px;
    line-height: 1.5em;
    margin-bottom: 36px;
  }
}

.block_right {
  width: 410px;
  height: auto;
  position: relative;
  margin: 0 0 47px calc((100% - 980px) * 0.5);
  right: 131px;
  grid-area: 3 / 1 / 6 / 2;
  justify-self: start;
  align-self: start;

  & > p {
    font-size: 15px;
    line-height: 1.5em;
    margin-bottom: 36px;
  }
}

.image_container {
  //position: relative;
  visibility: hidden;
  opacity: 0;
}

.spin_picture {
  animation: spinAndScale 1s linear 1;
  visibility: visible;
  opacity: 1;

  &.first {
    margin-left: 7px;
  }

  &.second {
    margin-left: -38px;
  }

  &.third {
    margin-left: -5px;
  }
}

@keyframes spinAndScale {
  0% {
    transform: rotate(0deg) scale(0.01);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}

.button_to_up {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  //!!!!!!!!!!!!!!!!!!Если я буду использовать конкретно тег button то нужно так, поскольку я не смогу расширить кнопку через паддинг
  //background-color: #feaa02;
  //width: 346px;
  //height: 50px;
  //position: relative;
  //left: 37%;
  //border-radius: 3px;

  span {
    letter-spacing: 0.1em;
    font-size: 18px;
    background-color: #feaa02;
    padding: 15px 90px;
    border-radius: 3px;
  }
}

.icons {
  display: block;
  margin: 0 auto;
  height: auto;

  &_love {
    width: 122px;
  }

  &_team {
    width: 68px;
    margin-bottom: 19px;
    margin-top: 36px;
  }
}

.video_paganel {
  display: flex;
  justify-content: center;
}

.picture_sun {
  display: block;
  margin: 0 auto;
}

.marks {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 70px;
}

.for_hover {
  margin: 11px 13px;
  transition: transform 0.5s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
}

.button_calendar {
  border: 1px solid #faa700;
  padding: 7px 10px;
  text-align: center;

  span {
    display: inline-block;
    color: #faa700;
  }

  & > a {
    text-decoration: none;
    color: #000; /* Adjust the color as needed */
    position: relative;
    padding-right: 20px;

    &:after {
      content: "";
      display: inline-block;
      width: 5px; // Width of the arrow
      height: 5px; // Height of the arrow
      border-style: solid;
      border-width: 0 2px 2px 0;
      border-color: #feaa02;
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%) rotate(315deg);
      transition: transform 400ms;
      opacity: 0.6;
    }
  }
}

.team_block {
  background: black;
  display: flex;
  flex-direction: column;
  color: white;

  > :nth-child(2) {
    display: inline-block;
    text-align: center;
    font-size: 42px;
    font-family: arial, ｍｓ ｐゴシック, ms pgothic, 돋움, dotum, helvetica, sans-serif;
    margin-bottom: 52px;
  }

  > :nth-child(4) {
    color: black;

    span {
      padding: 15px 55px;
      font-size: 20px;
    }
  }
}

.team_photos {
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
}

.team_members {
  display: flex;
  flex-direction: row;
  justify-content: center;

  p {
    font-size: 13px;
  }

  &.second_block {
    margin-top: 72px;

    .person:nth-child(2) {
      h3 {
        font-size: 18px;
      }
    }

  }
}


.person {
  display: inline-block; /* Или flex, если вам нужно более сложное выравнивание */
  width: 209px; /* Задайте ширину, соответствующую ширине изображения */
  height: auto;
  margin: 0 15px; /* Регулирует пространство между элементами команды */

  img {
    width: 100%; /* Проценты гарантируют, что изображение будет заполнять родительский блок */
    height: auto; /* Сохраняет пропорции изображения */
  }

  h3, p {
    margin: 0;
  }

  h3 {
    font-size: 20px;
    line-height: 1.4em;
    text-decoration: underline;
  }

  p {
    font-size: 13px;
    letter-spacing: 1.1px;
  }
}

.wish_block {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border: 2px solid #feaa02;
  width: 606px;
  padding: 20px;
  margin: 50px auto;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 1); /* 0 это смещение по оси X (горизонтальное смещение). 4px это смещение по оси Y (вертикальное смещение). 24px это радиус размытия тени. 0 это распространение тени (как далеко она выйдет за пределы элемента). rgba(0, 0, 0, 1) это цвет тени в формате RGBA, где 1 - это прозрачность. */
}
