<body>
<img class="paganel_studio_expedition_picture" [src]="image" alt="paganelStudioExpedition">
<div>
  <div class="calendar">
    <span>КАЛЕНДАР&nbsp;&nbsp;2024</span>
  </div>
  <div class="line"></div>
  <div>
    <span class="info_for_russians">У зв'язку з війною на території України, з 24 лютого 2022 року, Paganel Studio більше не приймає заявки від громадян РФ на <br> участь у наших експедиціях.</span>
  </div>
  <img class="piece_image" [src]="piece" [alt]="piece">
  <div class="line_under"></div>
  <div class="title_paganel">
    <span>Paganel Studio</span>
  </div>
  <div class="paganel_description">
    <div class="block_left">
      <p>
        <strong>Paganel Studio</strong> &mdash; це співтовариство досвідчених мандрівників, команда самовідданих
        експедиційних лідерів,
        кваліфікованих капітанів, контактного центру, партнерів по всьому світу та цілої армії постійних клієнтів, які
        стали добрими друзями за 10 років існування компанії.
      </p>
      <div #imageContainer class="image_container">
<!--        <img class="jumps_picture" [class.first]="isVisibleFirst"  [src]="jumps1" [alt]="jumps1">-->
<!--        <img class="jumps_picture" [class.second]="isVisibleSecond" [src]="jumps2" [alt]="jumps2">-->
<!--        <img class="jumps_picture" [class.third]="isVisibleThird" [src]="jumps3" [alt]="jumps3">-->
        <img class="jumps_picture first" [src]="jumps1" [alt]="jumps1">
        <img class="jumps_picture second" [src]="jumps2" [alt]="jumps2">
        <img class="jumps_picture third" [src]="jumps3" [alt]="jumps3">
      </div>
    </div>
    <div class="block_right">
      <p>
        Засновники та першопрохідники авторських маршрутів – Андрій та Ольга Андрєєви. Мрійники та самостійні
        мандрівники, які розпочали свій шлях у тандемі, вирушивши на свій медовий місяць у Гімалаї. Разом з художником
        Олександром Воцмушем вони любили їздити в далекі країни, малювати, фотографувати, знімати кіно і просто
        насолоджуватися життям.
      </p>
      <p>
      </p>
      <p>
        Тепер їхні документальні фільми отримують сотні нагород на фестивалях, а на красунях яхтах <u>Mon Coeur і Wind
        Dancer</u> відправляються полярні експедиції до Антарктиди та Гренландії. Ми будемо раді поділитися досвідом,
        показати вам найдальші куточки планети та прийняти вас у велику родину Паганелей.
      </p>
    </div>
  </div>
  <div class="button_to_up">
    <span>Рушаймо з нами</span>
  </div>
</div>
</body>
