<div class="space"></div>
<div class="white_background">
  <div class="cutaway_block">
    <p class="founder_title" [innerHTML]="languageService.getTranslate('PAGANEL_FOUNDER')"></p>
    <h1 [innerHTML]="languageService.getTranslate('ANDRII_ANDREIEV')"></h1>
    <img [src]="andrii_and_sign" [alt]="andrii_and_sign">
    <p [innerHTML]="languageService.getTranslate('ANDRII_ANDREIEV_ROLE')"></p>
    <img [src]="facebook_2" [alt]="facebook_2">
  </div>
  <div>Nevermind</div>
  <div>
    <app-slider-personal [images]="imagesR"></app-slider-personal>
  </div>
</div>
