:host {
  display: block; /*Гарантирует, что компонент отображается как блочный элемент.*/
  width: 100%; /*Устанавливает размеры компонента на 100% ширины и высоты родительского контейнера.*/
  height: 100%; /*Устанавливает размеры компонента на 100% ширины и высоты родительского контейнера.*/
  background-size: cover; /*Масштабирует фоновое изображение так, чтобы оно полностью покрывало заданный размер. cover делает так что бы разрешение не влияло на картинку*/
  background-repeat: no-repeat; /*Запрещает повторение фонового изображения.*/
  background-attachment: fixed; /* Сделать фон неподвижным при прокрутке.*/
  background-image: url('/assets/images/backgrounds/andrii_background.jpg');
}

.back_button {
  font-size: 15px;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 5px 41px;
  border-color: #feaa02;
  box-shadow: 8px 4px 9px 0 rgba(0, 0, 0, 0.25); /* 0 это смещение по оси X (горизонтальное смещение). 4px это смещение по оси Y (вертикальное смещение). 24px это радиус размытия тени. 0 это распространение тени (как далеко она выйдет за пределы элемента). rgba(0, 0, 0, 1) это цвет тени в формате RGBA, где 0.25 - это прозрачность. */

  &:hover {
    cursor: pointer;
  }
}

.space {
  padding-top: 724px;
}

.white_background {
  background-color: #ffffff;
}

.cutaway_block {
  box-sizing: border-box; //для того что бы margin и padding не влиял на размер
  height: 354px; //не указав height или width box-sizing не будет работать
  border: 1px solid #faa700;
  margin: auto;
  padding: 25px 212px;
  max-width: 980px; //длинна самого блока
  font-size: 19px;
  line-height: 1.4em;
  font-family: arial, ｍｓ ｐゴシック, ms pgothic, 돋움, dotum, helvetica, sans-serif;
  color: #555555;
  font-style: normal;
  font-weight: normal;
  transform: translateY(-50%); //для того что бы поднять полностью блок выше
  background-color: white;
  text-align: center;

  .founder_title {
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.35px;
    color: #333333;
    font-family: arial, ｍｓ ｐゴシック, ms pgothic, 돋움, dotum, helvetica, sans-serif;
  }

  h1 {
    margin: 23px;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0em;
    font-family: arial, ｍｓ ｐゴシック, ms pgothic, 돋움, dotum, helvetica, sans-serif;
    color: #000000;
  }

  .signature {
    width: 94px;
    height: auto;
    object-fit: cover;
  }

  > :nth-child(4) {
    margin: 5px;
    font-size: 19px;
  }

  > :nth-child(5) {

    img {
      width: 40px;
      margin-top: 21px;
    }
  }
}

.block_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 130px;
  margin-top: -85px;

  .image_block {
    margin: 0 0 30px calc((100% - 1141px) * 0.5); //calc((100% - 1363px) * 0.5) - отступ слева: вычисляемое значение. Вычитаем 1363px из 100% ширины родителя. Умножение на 0.5 (или деление на 2) обеспечивает, что левый отступ будет равен правому, тем самым центрируя элемент.

    img {
      width: 625px;
    }
  }

  .text_block {
    border: 1px solid #faa700;
    line-height: 1.7em;
    text-align: justify;
    margin: -9px calc((100% - 1148px) * 0.5) -18px 16px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-family: arial,ｍｓ ｐゴシック,ms pgothic,돋움,dotum,helvetica,sans-serif;
    padding: 21px 32px 22px 23px;
  }
}

.picture_sun {
  display: block;
  margin: 0 auto;
}

.text_paganel_center {
  text-align: center;

  .title_cherish_life {
    display: inline-block;
    margin-top: 15px;
    font-size: 40px;
    letter-spacing: -0.4px;
    font-weight: normal;
  }
}
