.slider-container {
  position: relative; //Без этого свойства абсолютное позиционирование стрелок (position: absolute) будет относительно всего документа, а не относительно контейнера слайдера.
  max-width: 966px; //задаем что бы картинка была в рамке конкретных размеров
  margin: 40px auto; // задаем что бы было по центру
}

.arrows {
  position: absolute; //позволяет стрелочкам быть расположенными относительно их ближайшего относительно позиционированного родителя.
  top: 50%; // что бы разместить стрелочки центрально по горизонтали, так как они расположены
  transform: translateY(-50%);
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  color: #feaa02;
  width: 45px; /* Установите нужную ширину */
  height: 45px; /* Установите нужную высоту */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.3s ease; // Плавный переход для opacity и transform, filter для изменения цвета картинки
  z-index: 10;

  &.prev-arrow {
    left: 0; //задаем дополнительно к позишн абсолют по 0 таким образом размещая их по бокам
  }

  &.next-arrow {
    right: 0; //задаем дополнительно к позишн абсолют по 0 таким образом размещая их по бокам
  }
}

.images-wrapper {
  overflow: hidden; //прячем все слайды
}

.slide-change-animation {
  display: flex; //не знаю почему но без флекса не работает overflow: hidden;
  transition: transform 0.5s ease-in-out; //время анимации
}

.main-image {
  min-width: 100%; // Важно для корректного размещения в flex-контейнере, иначе половинка какого-то другого слайда может залазить
  width: 100%; // Важно для отображения картинки полностью, иначе какая-то часть может залезть
  height: 535px; /* Установите фиксированную высоту */
  object-fit: cover; /* заполнить контейнер, сохраняя при этом свои пропорции. Оно может обрезать часть изображения, чтобы оно соответствовало заданным размерам */
  flex-shrink: 0; // Предотвращает сжатие изображений
}

.thumbnails {
  display: flex;
  overflow-x: hidden; //слешер под слайдером
  margin-top: 10px;
}

.thumbnails img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

.thumbnails img.active {
  opacity: 0.4; //видимость активного слайда
}
