.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  width: 100%; // задаем что бы белый фон покрыл полностью разрешение
  height: 100%; // задаем что бы белый фон покрыл полностью разрешение
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #000;
  cursor: pointer;
}

.display {
  display: flex;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-image img {
  max-width: none; /* Позволяет изображению масштабироваться больше контейнера */
  max-height: none; /* Позволяет изображению быть выше 80vh */
  width: 1300px; /* Начните с 100% ширины, но разрешите масштабирование */
  height: auto; /* Сохраняйте пропорции */
  transition: transform 0.3s ease; /* Плавная анимация масштабирования */
}

.prev-button,
.next-button {
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
}
