<div class="popup-overlay">
  <div class="popup-content">
    <!-- Кнопка закрытия -->
    <button class="close-button" (click)="close()">&#x2715;</button>
    <div class="display">
      <!-- Слайдер -->
      <div class="slider">
        <svg *ngIf="(currentIndex$ | async) ?? 0 > 0"
             class="prev-button"
             (click)="prevSlide()"
             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="35" height="35">
          <path d="M15 4L7 12L15 20" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" fill="none"/>
        </svg>

        <div class="slider-image">
          <ng-container *ngIf="images$ | async as images; else loading">
            <img [src]="images[(currentIndex$ | async) ?? 0]" [alt]="'Slide' + (((currentIndex$ | async) ?? 0) + 1)"/>
          </ng-container>
          <ng-template #loading>Loading...</ng-template>
        </div>
        <div>
          {{personName}}
        </div>

        <svg *ngIf="(images$ | async)?.length && ((currentIndex$ | async) ?? 0) < ((images$ | async)?.length ?? 0) - 1"
             class="next-button"
             (click)="nextSlide()"
             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="35" height="35">
          <path d="M9 4L17 12L9 20" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" fill="none"/>
        </svg>
      </div>
    </div>
  </div>
</div>

