.go_to_top_button {
  position: fixed;
  right: 49px;
  bottom: calc(21px + env(safe-area-inset-bottom));
  border-radius: 50%;
  background: white;
  border: 1px solid #faa700;
  color: #faa700;
  height: 47px;
  width: 47px;
  font-size: 20px;
  display: none;
  z-index: 2;

  &.show {
    display: block;
  }

  &:after {
    border-style: solid; /*Форма вертикального прямоугольника */
    content: ""; /*отображение данной формы, без content форма не отображается*/
    display: inline-block; /* из прямоугольника делаем маленький квадратик в нижней части*/
    margin: -4px 0; /* отступаем сверху и снизу двигая квадратик в центр */
    transform: rotate(45deg); /*крутим квадратик*/
    border-color: #feaa02; /*цвет квадратика*/
    border-width: 2px 0 0 2px; /*обрезаем границы у квадратика так что оставляем только нужные нам и получается стрелка */
    padding: 6px; /* расширяем стрелочку с середины*/
  }
}
