svg {
  width: 40px;
  height: 100px;
  object-fit: contain;
}

.comment-slider {
  width: 1500px; //для того что бы развести стрелочки до границ страницы
  padding: 20px;
  text-align: center;
  position: relative; //для фиксации стрелочек и точек, без него точки почему-то лезут вверх
}

.slider-container {
  position: relative; // без этого позишн релетив слайды .current_slide и .change_hidden_slide находятся не на друг друге
  height: 300px; /* Установите фиксированную высоту */
}

//.slides-wrapper {
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//}


.current_slide {
  transition: opacity 1s ease-in-out; // взаимодействует вместе с setTimeout, скорость переключения может быть меньше чем setTimeout но никак не больше

  &.active {
    opacity: 1;   // когда isTransitioning устанавливается в false и завершается setTimeout current-slide теперь отображает новый комментарий и теряет класс leaving.
  }

  //при нажатии след или пред слайд срабатывает [class.leaving]="isTransitioning" срабатывает так как Класс leaving будет применен, когда isTransitioning равно true, и срабатывает transition: opacity 1s ease-in-out затухание current_slide
  &.leaving {
    opacity: 0;
  }
}

////при нажатии след или пред слай, класс change_hidden_slide получает классы active и entering
.change_hidden_slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;

  &.active {
    opacity: 1;
  }

  &.entering {
    opacity: 1;
  }
}


.prev-arrow,
.next-arrow {
  position: absolute; //позволяет стрелочкам быть расположенными относительно их ближайшего относительно позиционированного родителя.
  top: 50%; // что бы разместить стрелочки центрально по горизонтали, так как они расположены
  transform: translateY(-50%);
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  width: 40px; /* Установите нужную ширину */
  height: 40px; /* Установите нужную высоту */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; // Плавный переход для opacity и transform
  z-index: 10;


  &.prev-arrow {
    left: 0; //задаем дополнительно к позишн абсолют по 0 таким образом размещая их по бокам
  }

  &.next-arrow {
    right: 0; //задаем дополнительно к позишн абсолют по 0 таким образом размещая их по бокам
  }
}

.comment-expedition {
  font-size: 18px;
  margin-bottom: 10px;
}

.comment-feedback {
  margin: 0 340px 20px;
}

.comment-fullname {
  font-size: 17px;
}

.dot-navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}
