<ng-container *ngIf="comments$ | async as comments">
  <div class="comment-slider" *ngIf="comments.length">  <!--  чтобы не отображать слайдер, если комментариев нет.-->
    <div class="slider-container">
      <img class="prev-arrow" (click)="prevComment(comments)" src="./assets/images/arrows/left-arrow.png"
           alt="left_arrow">
<!--      Добавлен новый контейнер slides-wrapper для того что бы сделать стрелки и дот фиксированными-->
      <div class="slider-wrapper">
        <!--  отображает текущий слайд, !isTransitioning это isTransitioning с противоположным показателем, если там говорим что при смене слайда будет тру, то с помощью ! будет фолс. активируетя только при действии смене слайда -->
        <div class="current_slide" [class.active]="!isTransitioning" [class.leaving]="isTransitioning">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
            <path [attr.fill]="fillColor" [attr.d]="pathData"></path>
          </svg>
          <div class="comment-expedition">
            {{ comments[currentIndex].expedition }}
          </div>
          <div class="comment-feedback">
            {{ comments[currentIndex].feedback }}
          </div>
          <div class="comment-fullname">
            {{ comments[currentIndex].name }}{{ comments[currentIndex].surname }}
          </div>
        </div>
        <!--      change_hidden_slide играет ключевую роль в создании плавного перехода, временно становясь видимым во время анимации, но в итоге всегда возвращается в скрытое состояние, уступая место обновленному current-slide. Короче говоря он становиться видемым пока SetTimeout не завершит свой цикл-->
        <div class="change_hidden_slide" [class.active]="isTransitioning" [class.entering]="isTransitioning">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
            <path [attr.fill]="fillColor" [attr.d]="pathData"></path>
          </svg>
          <div class="comment-expedition">
            {{ comments[changeIndex].expedition }}
          </div>
          <div class="comment-feedback">
            {{ comments[changeIndex].feedback }}
          </div>
          <div class="comment-fullname">
            {{ comments[changeIndex].name }}{{ comments[changeIndex].surname }}
          </div>
        </div>
      </div>
      <img class="next-arrow" (click)="nextComment(comments)" src="./assets/images/arrows/right-arrow.png"
           alt="right_arrow">
    </div>
    <div class="dot-navigation">
      <!-- хотя comment не используется напрямую в этом элементе, его присутствие в *ngFor важно для правильной работы и потенциального будущего расширения функциональности. let i = index присваивает каждому элементу его индекс (0, 1, 2).-->
      <span *ngFor="let comment of comments; let i = index"
            [class.active]="i === currentIndex"
            class="dot"
            (click)="goToComment(i)">
      </span>
    </div>
  </div>
</ng-container>
