<!--reviews$ - это Observable -->
<!--|async - это пайп, который подписывается на Observable и возвращает его последнее эмитированное значение-->
<!--as reviews - это часть, которая присваивает полученное значение локальной переменной reviews-->
<div *ngIf="reviews$ | async as reviews; else loading">
  <ng-container *ngFor="let review of reviews">
    <p>Автор: {{ review.name }} {{ review.surname }}</p>
    <p>Экспедиция: {{ review.expedition }}</p>
    <p>Соц Сеть: {{ review.social }}</p>
    <p  [innerHTML]="review.feedback"></p>
    <p>Дата: {{ review.date | date: 'dd.MM.yyyy, HH:mm:ss':'ua' }}</p>
  </ng-container>
</div>

<ng-template #loading>
  <p>Идет загрузка</p>
</ng-template>
