<div class="title_container">
  <h1 class="title_main" [innerHTML]="languageService.getTranslate('TEAM_PAGANEL')"></h1>
</div>
<div class="buttons_container">
  <button class="button_li" [innerHTML]="languageService.getTranslate('FOUNDERS')"></button>
  <button class="button_li" [innerHTML]="languageService.getTranslate('MANAGEMENT')"></button>
  <button class="button_li" [innerHTML]="languageService.getTranslate('FINANCE')"></button>
  <button class="button_li" [innerHTML]="languageService.getTranslate('COORDINATORS')"></button>
  <button class="button_li" [innerHTML]="languageService.getTranslate('CAPTAINS')"></button>
  <button class="button_li" [innerHTML]="languageService.getTranslate('GUIDERS')"></button>
</div>
<div class="title">
  <h1 [innerHTML]="languageService.getTranslate('FOUNDERS')"></h1>
</div>
<div class="team_container">
  <div class="team_block">
    <div class="image_team">
      <img [src]="andrew_and" alt="andrew_and">
    </div>
    <div class="information_team">
      <h3 [innerHTML]="languageService.getTranslate('ANDRII_ANDREIEV')"></h3>
      <span class="role">Розум, Честь та Совість Paganel Studio</span>
      <p class="description" [innerHTML]="languageService.getTranslate('ANDRII_ANDREIEV_ROLE')"></p>
    </div>
    <div class="button_wrapper">
      <div [routerLink]="['/team', 'andrii-andreiev']" class="detail_button">
        <a><span>Докладніше</span></a>
      </div>
    </div>
  </div>
  <div class="team_block">
    <div class="image_team">
      <img [src]="olga_and" alt="olga_and">
    </div>
    <div class="information_team">
      <h3>Ольга Андрєєва</h3>
      <span class="role">Муза Паганелєй</span>
      <p class="description">Співзасновник, експедиційний лідер, дизайнер, художник компанії.</p>
    </div>
    <div class="button_wrapper">
      <div class="detail_button">
        <a><span>Докладніше</span></a>
      </div>
    </div>
  </div>
</div>
