:host {
  display: block; /*Гарантирует, что компонент отображается как блочный элемент.*/
  width: 100%; /*Устанавливает размеры компонента на 100% ширины и высоты родительского контейнера.*/
  height: 100%; /*Устанавливает размеры компонента на 100% ширины и высоты родительского контейнера.*/
  background-size: cover; /*Масштабирует фоновое изображение так, чтобы оно полностью покрывало заданный размер.*/
  background-repeat: no-repeat; /*Запрещает повторение фонового изображения.*/
  background-attachment: fixed; /* Сделать фон неподвижным при прокрутке.*/
  background-image: url('/assets/images/backgrounds/aboutus_background.webp');
}

.space {
  padding-top: 724px;
}

.new_background {
  background: white;
}

.paganel_block_create {
  border: 1px solid #faa700;
  margin: auto;
  padding: 32px 40px 32px 85px;
  max-width: 880px;
  height: auto;
  font-size: 19px;
  line-height: 1.4em;
  font-family: arial, ｍｓ ｐゴシック, ms pgothic, 돋움, dotum, helvetica, sans-serif;
  color: #555555;
  font-style: normal;
  font-weight: normal;
  transform: translateY(-55%); //для того что бы поднять полностью блок выше
  background-color: white;
  text-align: justify; //для того что бы текст был выровнен по бокам
}


.title {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;

  span {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 55px;
    font-family: arial,ｍｓ ｐゴシック,ms pgothic,돋움,dotum,helvetica,sans-serif;
    color: #3d3d3d;
  }
}

.block_3, .block_5 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 130px;

  .video_block {
    margin: 0 0 30px calc((100% - 1363px) * 0.5);
  }

  .text_block {
    border: 1px solid #faa700;
    line-height: 19.7px;
    text-align: justify;
    margin: 0 calc((100% - 1341px) * 0.5) -36px 49px;
    font-size: 12px;
    font-family: arial,ｍｓ ｐゴシック,ms pgothic,돋움,dotum,helvetica,sans-serif;
    padding: 35px 28px;
  }
}


.slider_container {
  width: 600px;
  height: 300px;
  margin: 50px calc((100% - 1250px) * 0.5);

}

.block_6 {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid #faa700;
  padding: 40px 0;
  max-width: 965px;
  margin: 0 auto 100px; /* margin: 0 auto; что бы расположить по центру, 100px это не обязательно */

  span {
    font-size: 24px;
    font-family: arial,ｍｓ ｐゴシック,ms pgothic,돋움,dotum,helvetica,sans-serif;
    line-height: 47px;
  }
}
