<div class="space"></div>
<div class="new_background">
  <div class="paganel_block_create">
    <span>Колись пара закоханих мрійників — Андрій та Ольга Андрєєви — вирушила на свій медовий
    місяць у Гімалаї, до гори Еверест. Саме там прийшло усвідомлення, що мандрівки роблять їх
      щасливими й це те, чим хочеться займатися все життя.</span>
    <p></p>
    <span>Після цього до них приєднався ще один відчайдушний мрійник — художник Олександр Воцмуш.
    Утрьох вони почали їздити в далекі країни, малювати, фотографувати, знімати кіно й просто
      насолоджуватися життям.</span>
    <p></p>
    <span>Так народилася компанія Paganel Studio.</span>
  </div>
  <div class="title">
    <span>ЯК УСЕ ПОЧИНАЛОСЯ</span>
  </div>
  <div class="block_3">
    <div class="video_block">
      <iframe src="https://player.vimeo.com/video/38038364?h=9abe1c3d77" width="800" height="459" frameborder="0"
              allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="text_block">
      У 2008 році після спільної подорожі до Папуа та виставки під назвою «Принцеса Папуа», де були представлені фото
      Андрія та Ольги, акварелі Воцмуша, графіка Ольги та фільм із подорожі, з'явилося бажання поєднати все це в одне
      ціле та додати бізнес-складову, щоб не відволікатися на сторонні справи, а зосередитись на улюбленій творчості. У
      цей час у Андрія зародилася ідея першого кінопроекту, концепція, сценарій та назва якого були придумані та
      написані ним самим. Перша версія цього проекту була художньо-документальним серіалом під назвою «12 Легенд»,
      пізніше сценарій був переписаний та перетворений Андрієм на документальний формат під назвою «Легенди Зниклих
      Цивілізацій». Ця ідея стала двигуном того, що, пройшовши через багато метаморфоз, кількома роками пізніше
      перетворилося на те, що зараз є Paganel Studio. Оскільки за два з половиною роки не вдалося знайти фінансування
      ззовні, Андрієм та Ольгою Андрєєвими було прийнято рішення вкладати в себе самим і відкрити новий для себе
      напрямок — брати з собою охочих вирушити разом із ними в далекі країни по всьому світу. Отже, те, про що мріялося
      колись, стало перетворюватися на реальність і, несподівано, виявилося ще й дуже популярним у час заняттям. Такою
      першою подорожжю з групою стала новорічна експедиція 2011-2012 року в Папуа та на інші острови. Згодом наша
      команда стала розростатися, додалося багато чудових людей, які стали невід'ємною її частиною. Творчість та робота
      з людьми стали розвиватися, паралельно доповнюючи один одного.
    </div>
  </div>
  <div class="slider_container">
    <app-slider [images]="images"></app-slider>
  </div>
</div>
