<div class="space"></div>
<div class="new_background">
  <div class="paganel_block_create">
<span [innerHTML]="languageService.getTranslate('HOW_IT_STARTS')"></span>
  </div>
  <div class="title">
    <span>ЯК УСЕ ПОЧИНАЛОСЯ</span>
  </div>
  <div class="block_3">
    <div class="video_block">
      <iframe src="https://player.vimeo.com/video/38038364?h=9abe1c3d77" width="800" height="459" frameborder="0"
              allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="text_block">
      <span [innerHTML]="languageService.getTranslate('HOW_IT_STARTS_2')"></span>
    </div>
  </div>
  <div class="slider_container">
    <app-slider [images]="images"></app-slider>
  </div>
  <div class="block_5">
    <div class="video_block">
      <iframe src="https://player.vimeo.com/video/145169275?h=d653f9c5e2" width="800" height="459" frameborder="0"
              allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="text_block">
      <span [innerHTML]="languageService.getTranslate('HOW_IT_STARTS_3')"></span>
    </div>
  </div>
  <div class="block_6">
    <span [innerHTML]="languageService.getTranslate('NICE_TO_MEET')"></span>
  </div>
</div>
