<div class="space"></div>
<div class="new_background">
  <div class="paganel_block_create">
    <span>Колись пара закоханих мрійників — Андрій та Ольга Андрєєви — вирушила на свій медовий<br>
    місяць у Гімалаї, до гори Еверест. Саме там прийшло усвідомлення, що мандрівки роблять їх<br>
      щасливими й це те, чим хочеться займатися все життя.</span>
    <p></p>
    <span>Після цього до них приєднався ще один відчайдушний мрійник — художник Олександр Воцмуш.<br>
    Утрьох вони почали їздити в далекі країни, малювати, фотографувати, знімати кіно й просто<br>
      насолоджуватися життям.</span>
    <p></p>
    <span>Так народилася компанія Paganel Studio.</span>
  </div>
  <div class="jjj">
    <span>ЯК УСЕ ПОЧИНАЛОСЯ</span>
  </div>
</div>
